* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: black;
	font-family: "Microsoft YaHei";
	margin: 0px 0px;
	padding: 0px 0px;
	text-decoration:none;
	font-weight:bold;
	color:gray;
	background:transparent;
	outline: none;
	/* 防止被选中 */
	/* -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none; */
}

html,body {
	width: 100%;
	height: 100%;
}



/* 清除漂浮 */
.clear{
	clear:both;
}
/*****************************************************响应式*****************************************************/
/* x<=767的设备 */
@media screen and (max-width :767px) { 
	
	
}
/* 991>=x>=768的设备 */
@media screen and ( min-width : 768px) and (max-width : 991px) { 
	
	
}


/* 1199>=x>=992的设备 */
@media screen and (min-width : 992px) and (max-width : 1199px){
	
}


/* x>=1200的设备 */
@media screen and ( min-width : 1200px) {
	/******************轮播*****************/
	
}